
html, body { height: 100%;}

main {min-height: 600px; background-color: #ffffff; overflow: hidden;}

#seccion_principal {height:auto; min-height: 100vh; padding-bottom: 20px; background: url('../../assets/images/bg_landingpage_2.jpg') no-repeat; background-position: center center; background-size: cover; }
#seccion_principal .div-1 {text-align: left; padding: 0;}
#seccion_principal .div-1 img.logo {width: 412px; height: auto; margin-top: 25px; margin-left: 20px;}
#seccion_principal .div-2 {width: 1100px; margin: 0 auto; padding: 0;}
#seccion_principal .div-2 img.relax2 {width: 540px; height: auto;  margin-top: 10px; margin-bottom: -8px}
#seccion_principal .div-2 img.relax {width: 542px; height: auto;  margin-top: -5px;}
#seccion_principal .div-2 img.ahorra {width: 547px; height: auto;  margin-top: -2px; margin-left: 16px;}
#seccion_principal .div-2 ul.detalles {margin: 61px auto 64px auto; padding-left: 0px;}
#seccion_principal .div-2 ul.detalles li {float: left; list-style: none; margin-right: 102px;}
#seccion_principal .div-2 ul.detalles li:last-child {margin-right: 0;}
#seccion_principal .div-2 ul.detalles li .punto { margin-right: 8px; margin-top: 2px; display: block; float: left;}
#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:32px; height: auto;}
#seccion_principal .div-2 ul.detalles li .texto {display: block; float: left; color: #ffffff; font-size: 29px; height: 30px; line-height: 1; font-style: italic;}
#seccion_principal .div-2 h2 {font-size: 25px; color: #ffffff; margin-left: 0px; margin-bottom: 26px;}

#seccion_principal .div-2 .owl-carousel .owl-stage-outer {padding-left: 0px; padding: 20px 10px;}
#seccion_principal .div-2 .carrusel .cont_carru {width: 300px; height: 268px; padding: 0 0 0 0; margin-top: 20px; margin-bottom: 20px; border:4px solid #ffffff; border-radius: 13px; transition: all 0.3s;  background-color: #ffffff; -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.76); -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.76); box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.76);}
#seccion_principal .div-2 .carrusel .cont_carru.active {padding: 0 0 0 0; -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.86); -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.86); box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.86);}

#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru {display: block; height: 100%; width: 100%; position: relative; overflow: hidden; background-size: cover !important; background-position: center center !important; border-radius: 10px; text-decoration: none; color: #111111; background-color: #cccccc;}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_1 {background: url('../../assets/images/productos/1.jpg') no-repeat;}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_2 {background: url('../../assets/images/productos/2.jpg') no-repeat;}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_3 {background: url('../../assets/images/productos/3.jpg') no-repeat;}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .span_abre_cuenta {padding: 9px 27px 11px 32px; background-color: #0b5018; color: #ffffff; font-size: 19px; position: absolute; left: 0; bottom: 30px; z-index: 1; }
#seccion_principal .div-2 .carrusel .cont_carru.active .anchor_cont_carru .span_abre_cuenta {/*display: none;*/}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover {width:100%; height: 100%; padding: 10px 4px 10px 4px; background-color: #0b5018; border-radius: 10px; position:absolute; left: 0; bottom: -110%; z-index: 2; transition: all 0.6s;}
#seccion_principal .div-2 .carrusel .cont_carru.active .anchor_cont_carru .div-hover {bottom: 0%;}

#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos {margin: 0 auto 8px auto;}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul {padding-left: 30px; padding-right: 4px;}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {text-align: left; color: #ffffff; font-size: 14px; line-height: 15px; font-weight: 500;  margin-bottom: 8px;}
#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .buttom-a {display: block; width: 90%; cursor: pointer; position: absolute; left: 0; bottom: 14px; padding: 7px 0; margin:0 5%; background-color: #ffffff; color: #0b5018; font-size: 18px; font-weight: 600;}


#modal-formulario {width: 100%; height:100vh; overflow: hidden; position: fixed; top: 0; right: -120%; padding-bottom: 20px; background: url('../../assets/images/bg_formulario.jpg') no-repeat; background-position: center top; background-size: cover; transition: all 0.5s; z-index: 10;}
#modal-formulario.sticky_formulario {right: 0;}
#modal-formulario .icon-close {display: none; cursor: pointer; height: 46px; width: 46px; padding: 5px 10px; color: #ffffff;  border: 4px solid #ffffff; border-radius: 50px; position: fixed; top: 44px; right: 50px;}
#modal-formulario.sticky_formulario .icon-close {display: block;}
#modal-formulario .icon-close img {height: 18px; width: 18px;}
#modal-formulario .div-1 {text-align: left; padding: 0;}
#modal-formulario .div-1 img.logo {width: 412px; height: auto; margin-top: 37px; margin-left: 20px; margin-bottom: 45px;}
#modal-formulario .div-2 {width: 1166px; margin: 0 auto;}
#modal-formulario .div-2 .div-inputs {padding: 18px 27px 17px 0px; position: relative;}
#modal-formulario .div-2 .div-inputs input {background-color: transparent; padding: 5px 0 4px 0; font-size: 18px; border: 0; border-bottom: 2px solid #ffffff; width: 100%; outline: none; color: #ffffff; }
#modal-formulario .div-2 .div-inputs input::placeholder {color: #ffffff;}
#modal-formulario .div-2 .div-inputs input[type="radio"] {height: 16px; width: 16px; margin-left: 28px; color: #ffffff; background: transparent; border: 2px solid #ffffff;}
#modal-formulario .div-2 .div-inputs select {background-color: transparent; padding: 5px 0 1px 0; font-size: 16px; border: 0; border-bottom: 2px solid #ffffff; width: 100%; outline: none; color: #ffffff; }
#modal-formulario .div-2 .div-inputs select option {margin: 40px; background: rgba(0,0,0,0.9); color: #ffffff;}
#modal-formulario .div-2 .div-inputs select.fexp { padding: 5px 0 5px 0; font-size: 18px;}
#modal-formulario .div-2 .div-inputs select.fsucursal { padding: 5px 0 5px 0; font-size: 18px;}
#modal-formulario .div-2 .div-inputs .lplace_holder_move {position: absolute; left: 0px; top: 0; width: calc(100% - 20px); height: 54px; padding: 20px 0 10px 0; margin-bottom: 0; color: #ffffff; font-size: 18px; -webkit-transition: .4s; transition: .4s;}
#modal-formulario .div-2 .div-inputs .lplace_holder_move.active_l {font-size: 14px; padding: 0; height: 20px;}
#modal-formulario .div-2 .div-inputs span.opcional {font-size: 17px;}
#modal-formulario .div-2 .flabel1 {font-size: 18px; float: left; padding-top: 5px;}
#modal-formulario .div-2 .flabel3 {font-size: 18px; float: left; padding-top: 3px; line-height: 1.2;}
#modal-formulario .div-2 .flabel3 span {font-size: 16px;}
#modal-formulario .div-2 .flabel2 {font-size: 17px; float: left; padding-bottom: 2px;}
#modal-formulario .div-2 .leer-mas {text-decoration: underline; font-weight: 600; cursor: pointer;}
#modal-formulario .div-2 .direcciones-fsucursal {line-height: 1.1; font-size: 15px;}
#modal-formulario .div-2 .lfecha_nac {padding-top: 17px; margin-bottom: -15px; font-size: 18px;}
#modal-formulario .div-2 .div-inputs ul {padding-left: 0;}
#modal-formulario .div-2 .div-inputs ul li {color: #ffffff; font-size: 16px; list-style: none; float: left; width: 100%; height: 20px;}
#modal-formulario .div-2 .btn-enviar {color: #ffffff; background-color: #a4bd32; width: 100%; padding: 14px 10px 15px 10px; font-size: 23px; border:0; cursor: pointer;}
.invalid-feedback {color: #00ff10; line-height: 1.1; font-size: 74%;}

#modal-formulario .div-2 .div-left {padding: 0 18px 0 0;}
#modal-formulario .div-2 .div-left .div-columna {min-height: 640px; border:1px solid #ffffff; color: #ffffff; padding: 20px 40px 20px 44px;}
#modal-formulario .div-2 .div-left img.logo-producto {width: 250px; height: auto; margin-bottom: 54px;}

#modal-formulario .div-2 .div-right {padding: 0 0 0 18px;}
#modal-formulario .div-2 .div-right .div-columna {min-height: 640px; border:1px solid #ffffff; color: #ffffff; padding: 20px 40px 20px 44px;}

#modal-respuesta {width: 600px; height:auto; overflow: hidden; position: fixed; top: 10vh; left: -120%; border-radius: 5px; background-color: #ffffff; transition: all 0.5s; z-index: 12; 
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.56); -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.56); box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.56);}
#modal-respuesta.sticky_respuesta {left: calc(50% - 300px);}
#modal-respuesta .icon-close {display: none; cursor: pointer; height: 33px; width: 33px; padding:0px 4px 4px 5px; line-height: 1.4; color: #ffffff;  border: 3px solid #ffffff; border-radius: 5px; position: absolute; top: 10px; right: 10px;}
#modal-respuesta.sticky_respuesta .icon-close {display: block;}
#modal-respuesta .icon-close img {height: 18px; width: 18px;}
#modal-respuesta p.pasos {color: #0b5018; font-size: 20px; font-weight: 500; font-family: arial; padding-left: 120px; padding-bottom: 6px; line-height: 1.4;}

#transparencia-modal-respuesta {width: 100%; height: 100%; position: fixed; top: 0; left: -120%; background-color: rgba(0,0,0,0.4); z-index: 11;}
#transparencia-modal-respuesta.sticky_respuesta {left: 0;}


#modal-seguro, #modal-segip { width: 330px; height: 260px; overflow: hidden; position: fixed; left: calc(50% - 165px); top: -120%; border-radius: 5px; color: #000000; background-color: #ffffff; padding-bottom: 20px; transition: all 0s; z-index: 12; -webkit-box-shadow: 0px 0px 6px 1px rgba(255,255,255,0.16); -moz-box-shadow: 0px 0px 6px 1px rgba(255,255,255,0.16); box-shadow: 0px 0px 6px 1px rgba(255,255,255,0.16);}
#modal-seguro.active, #modal-segip.active {top:calc(50% - 130px);}
#modal-seguro .icon-close, #modal-segip .icon-close {cursor: pointer; height: 27px; width: 27px; padding:0px 5px 5px 5px; line-height: 1.4; color: #000000; background-color: #0b5018; border-radius: 4px; position: absolute; top: 8px; right: 8px;}
#modal-seguro .icon-close img, #modal-segip .icon-close img {height: 18px; width: 18px;}
#modal-seguro,  #modal-segip {font-size: 17px;}
#modal-seguro h4,  #modal-segip h4 {font-size: 19px; letter-spacing: 0.7px; text-transform: uppercase; margin-top: 4px !important; margin-bottom: 4px !important; color: #ffffff; font-weight: 400;}
#modal-seguro ul {padding-left: 0;}
#modal-seguro ul li {color: #000000; list-style: none; float: left; width: 100%; height: 27px;}


/******************* Slider Check tipo on/off ************************/
/* The switch - the box around the slider */
.switch {position: relative; display: inline-block; width: 34px; height: 11px;}
/* Hide default HTML checkbox */
.switch input {opacity: 0; width: 0; height: 0;}
/* The slider */
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute; content: ""; height: 18px; width: 18px; left: 0px; bottom: -3px; background-color: white; -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(19px); -ms-transform: translateX(19px); transform: translateX(19px);}
/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
.switch .invalid-feedback {width: 86px; margin-top: 0; font-size: 70%;}
/******************* End - Slider Check tipo on/off ************************/

/**** XS ***(portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#seccion_principal {height:auto; min-height: 100vh; background: url('../../assets/images/bg_landingpage_mobile_2.jpg') no-repeat; background-position: center top; background-size: cover; }
    #seccion_principal .div-1 {text-align: center;}
    #seccion_principal .div-1 img.logo {width: 58%; margin: 30px auto 25px auto;}
    #seccion_principal .div-2 img.relax2 {width: 79%; height: auto;  margin-top: 2px; margin-bottom: -8px;}
    #seccion_principal .div-2 img.relax {width: 79%; margin: 0 auto 0 auto;}    
	#seccion_principal .div-2 img.ahorra {width: 79%; margin-top: -2px; margin-left: 10px;}

	#seccion_principal .div-2 {width: 100%; margin: 0 auto;}
	#seccion_principal .div-2 ul.detalles {margin: 36px auto 26px auto; padding-left: 96px;}
	#seccion_principal .div-2 ul.detalles li {float: inherit; margin-right: 0px; width: 100%; display: inline-block;}
	#seccion_principal .div-2 ul.detalles li .punto {margin-right: 5px; margin-top: -7px; }
	#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:12px; height: auto;}
	#seccion_principal .div-2 ul.detalles li .texto {font-size: 17px; height: 24px; line-height: 1;}

	#seccion_principal .div-2 h2 {font-size: 13px; margin-bottom: 10px;}

	#seccion_principal .div-2 .wrap-carru {}
	#seccion_principal .div-2 .owl-carousel .owl-stage-outer {padding-left: 0px; padding: 20px 0px;}
	#seccion_principal .div-2 .carrusel {padding: 0;}

	#seccion_principal .div-2 .carrusel .cont_carru {width: 240px; margin: 0; margin-top: 20px; margin-bottom: 20px; height: 300px;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_1 {background: url('../../assets/images/productos/1m.jpg') no-repeat;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_2 {background: url('../../assets/images/productos/2m.jpg') no-repeat;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_3 {background: url('../../assets/images/productos/3m.jpg') no-repeat;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru {background-size: 100% auto !important; background-position: center center !important;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos {width: 56% !important; margin: 0 auto 9px auto;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos-combo {width: 90% !important; margin: 0 auto 14px auto;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul {padding-left: 30px; padding-right: 12px;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {font-size: 14px; line-height: 16px; margin-bottom: 9px;}

	#modal-formulario {width: 100%; height:100vh; min-height: 100vh; overflow-y: auto; background: url('../../assets/images/bg_formulario.jpg') no-repeat; background-position: 67% top;}
	#modal-formulario .icon-close {height: 28px; width: 28px; padding: 0px 6px 5px 6px; line-height: 1.4; border: 2px solid #ffffff; top: 17px; right: 17px;}
	#modal-formulario .icon-close img {height: 11px; width: 11px;}
	#modal-formulario .div-1 {text-align: center;}
	#modal-formulario .div-1 img.logo {width: 220px; height: auto; margin-top: 26px; margin-left: 0px; margin-bottom: 14px;}
	#modal-formulario .div-2 {width: 100%; margin: 0 auto;}	
	#modal-formulario .div-2 .div-left {padding: 0 12px 0 12px;}
	#modal-formulario .div-2 .div-left .div-columna {min-height: 290px; padding: 15px 18px 10px 20px; border-bottom: 0;}
	#modal-formulario .div-2 .div-left img.logo-producto {width: 158px; margin-bottom: 4px;}
	#modal-formulario .div-2 .div-right {padding: 0 12px 0 12px;}
	#modal-formulario .div-2 .div-right .div-columna {min-height: 290px; padding: 5px 18px 22px 20px;}
	#modal-formulario .div-2 .div-inputs {padding: 16px 12px 15px 0px; position: relative;}
	#modal-formulario .div-2 .div-inputs input {padding: 4px 0 3px 0; font-size: 14px; }
	#modal-formulario .div-2 .div-inputs .lplace_holder_move {height: 54px; padding: 20px 0 10px 0; font-size: 14px;}
	#modal-formulario .div-2 .div-inputs .lplace_holder_move.active_l {font-size: 12; padding: 0;}
	#modal-formulario .div-2 .flabel1 {font-size: 14px; float: left; padding-top: 3px;}
	#modal-formulario .div-2 .flabel3 {font-size: 14px; margin-top: -4px; line-height: 1.3;}
	#modal-formulario .div-2 .flabel3 span {font-size: 13px;}
	#modal-formulario .div-2 .flabel2 {font-size: 14px; margin-top: -6px; padding-bottom: 2px;}
	#modal-formulario .div-2 .lfecha_nac {font-size: 15px; padding-top: 13px; margin-bottom: -15px; }	
	#modal-formulario .div-2 .div-inputs span.opcional {font-size: 13px;}
	#modal-formulario .div-2 .div-inputs select {padding: 4px 0 1px 0; font-size: 13px;}
	#modal-formulario .div-2 .div-inputs select.fexp { padding: 4px 0 3px 0; font-size: 14px;}
	#modal-formulario .div-2 .div-inputs ul li {font-size: 15px; height: 18px;}
	#modal-formulario .div-2 .div-inputs .switch {margin-top: 10px !important}
	#modal-formulario .div-2 .btn-enviar {padding: 10px 10px 11px 10px; font-size: 19px;}

	#modal-respuesta {width: 90%; height:auto; top: 12vh; left: -120%;}
	#modal-respuesta.sticky_respuesta {left: 5%;}
	#modal-respuesta .icon-close {display: none; height: 30px; width: 30px; padding: 0 4px 4px 4px; border: 3px solid #ffffff; top: 9px; right: 6px;}
	#modal-respuesta .icon-close img {height: 16px; width: 16px;}
	#modal-respuesta .div-pasos {height: 50px !important}
	#modal-respuesta p.pasos { font-size: 14px; font-weight: 500; font-family: arial; padding-left: 52px; padding-bottom: 6px; line-height: 1.1;}


			@media (max-height: 569.98px) {/*iphone 5*/
				#seccion_principal .div-1 img.logo { margin: 20px auto 13px auto;}
				#seccion_principal .div-2 img.relax2 {width: 73%; height: auto;  margin-top: 2px; margin-bottom: -2px}
				#seccion_principal .div-2 img.relax {width: 73%; margin: 0 auto 0 auto;}    
				#seccion_principal .div-2 img.ahorra {width: 73%; margin-top: -1px; margin-left: 0px;}

				#seccion_principal .div-2 h2 {font-size: 13px; margin-bottom: 0px;}

				#seccion_principal .div-2 ul.detalles {margin: 23px auto 18px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li {float: left; margin-right: 20px; width: inherit; display: block;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 5px; margin-top: -7px; }
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:12px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 12px; height: 20px; line-height: 1;}


				#seccion_principal .div-2 .carrusel .cont_carru {width: 210px; margin: 0; margin-top: 10px; margin-bottom: 10px; height: 300px;}
				#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .span_abre_cuenta {padding: 8px 20px 10px 25px; font-size: 18px; bottom: 30px;}
				#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos {width: 53% !important; margin: 0 auto 8px auto;}
				#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos-combo {width: 90% !important; margin: 0 auto 10px auto;}
				#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {font-size: 14px; line-height: 14px; margin-bottom: 6px;}
			}
			@media (min-height: 570px) and (max-height: 700.98px) {
				#seccion_principal .div-2 h2 {font-size: 13px; margin-bottom: 8px;}

				#seccion_principal .div-2 ul.detalles {margin: 36px auto 26px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li {float: left; margin-right: 20px; width: inherit; display: block;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 5px; margin-top: -7px; }
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:12px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 14px; height: 20px; line-height: 1;}
			}
			@media (min-height: 701px) and (max-height: 2000px) {
				#seccion_principal {min-height: 100vh; background-position: 24% top;}
				#seccion_principal .div-1 img.logo {width: 59%; margin: 32px auto 36px auto;}
				#seccion_principal .div-2 img.relax2 {width: 82%;}
			    #seccion_principal .div-2 img.relax {width: 82%;}    
				#seccion_principal .div-2 img.ahorra {width: 82%; margin-top: -1px; margin-left: 10px;}

				#seccion_principal .div-2 h2 {font-size: 14px; margin-bottom: 19px;}

				#seccion_principal .div-2 ul.detalles {margin: 44px auto 36px auto; padding-left: 96px;}
				#seccion_principal .div-2 ul.detalles li {float: inherit; width: 100%; display: inline-block;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 10px; margin-top: -6px; }
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:16px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 18px; height: 25px; line-height: 1;}
			}
}


/**** SM ***(landscape phones, 576px and 767) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#seccion_principal {height:auto; min-height: 100vh; background: url('../../assets/images/bg_landingpage_mobile_2.jpg') no-repeat; background-position: center top; background-size: cover; }
    #seccion_principal .div-1 img.logo {width: 58%; margin: 30px auto 25px auto;}
    #seccion_principal .div-2 img.relax2 {width: 75%; margin: 0 auto 0 auto; margin-top: 6px; margin-bottom: -2px;}
    #seccion_principal .div-2 img.relax {width: 79%; margin: 0 auto 0 auto;}    
	#seccion_principal .div-2 img.ahorra {width: 79%; margin-top: -2px; margin-left: 10px;}

	#seccion_principal .div-2 {width: 100%; margin: 0 auto;}
	#seccion_principal .div-2 ul.detalles {margin: 36px auto 26px auto; padding-left: 188px;}
	#seccion_principal .div-2 ul.detalles li {float: inherit; margin-right: 0px; width: 100%; display: inline-block;}
	#seccion_principal .div-2 ul.detalles li .punto {margin-right: 10px; margin-top: -6px; }
	#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:17px; height: auto;}
	#seccion_principal .div-2 ul.detalles li .texto {font-size: 17px; height: 24px; line-height: 1;}

	#seccion_principal .div-2 h2 {font-size: 18px; margin-bottom: 10px;}

	#seccion_principal .div-2 .wrap-carru {}
	#seccion_principal .div-2 .owl-carousel .owl-stage-outer {padding-left: 0px; padding: 20px 0px;}
	#seccion_principal .div-2 .carrusel {padding: 0;}
	#seccion_principal .div-2 .carrusel .cont_carru {width: 90%; margin: 10px 10% 10px 0; height: 300px;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_1 {background: url('../../assets/images/productos/1m.jpg') no-repeat; background-position: top center !important;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_2 {background: url('../../assets/images/productos/2m.jpg') no-repeat; background-position: top center !important;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_3 {background: url('../../assets/images/productos/3m.jpg') no-repeat; background-position: top center !important;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru {background-size: 100% auto !important; background-position: center center !important;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos {width: 56% !important; margin: 0 auto 9px auto;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos-combo {width: 90% !important; margin: 0 auto 14px auto;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul {padding-left: 30px; padding-right: 12px;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {font-size: 14px; line-height: 16px; margin-bottom: 9px;}

	#modal-formulario {width: 100%; height:100vh; min-height: 100vh; overflow-y: auto; background: url('../../assets/images/bg_formulario.jpg') no-repeat; background-position: 67% top;}
	#modal-formulario .icon-close {height: 28px; width: 28px; padding: 0px 6px 2px 6px; line-height: 1.3; border: 2px solid #ffffff; top: 17px; right: 17px;}
	#modal-formulario .icon-close img {height: 11px; width: 11px;}
	#modal-formulario .div-1 {text-align: center;}
	#modal-formulario .div-1 img.logo {width: 220px; height: auto; margin-top: 26px; margin-left: 0px; margin-bottom: 14px;}
	#modal-formulario .div-2 {width: 100%; margin: 0 auto;}	
	#modal-formulario .div-2 .div-left {padding: 0 12px 0 12px;}
	#modal-formulario .div-2 .div-left .div-columna {min-height: 290px; padding: 15px 18px 5px 20px; border-bottom: 0;}
	#modal-formulario .div-2 .div-left img.logo-producto {width: 158px; margin-bottom: 4px;}
	#modal-formulario .div-2 .div-right {padding: 0 12px 0 12px;}
	#modal-formulario .div-2 .div-right .div-columna {min-height: 290px; padding: 5px 18px 12px 20px;}
	#modal-formulario .div-2 .div-inputs {padding: 16px 12px 15px 0px; position: relative;}
	#modal-formulario .div-2 .div-inputs input {padding: 4px 0 3px 0; font-size: 16px; }
	#modal-formulario .div-2 .div-inputs .lplace_holder_move {height: 54px; padding: 20px 0 10px 0; font-size: 16px;}
	#modal-formulario .div-2 .div-inputs .lplace_holder_move.active_l {font-size: 13; padding: 0;}
	#modal-formulario .div-2 .flabel1 {font-size: 16px; float: left; padding-top: 3px;}
	#modal-formulario .div-2 .flabel3 {font-size: 16px; margin-top: -4px; line-height: 1.3;}
	#modal-formulario .div-2 .flabel3 span {font-size: 14px;}
	#modal-formulario .div-2 .flabel2 {font-size: 16px; margin-top: -6px; padding-bottom: 2px;}
	#modal-formulario .div-2 .lfecha_nac {font-size: 15px; padding-top: 13px; margin-bottom: -15px; }
	#modal-formulario .div-2 .div-inputs select {padding: 4px 0 1px 0; font-size: 15px;}
	#modal-formulario .div-2 .div-inputs select.fexp { padding: 4px 0 3px 0; font-size: 14px;}
	#modal-formulario .div-2 .div-inputs ul li {font-size: 15px; height: 18px;}
	#modal-formulario .div-2 .div-inputs .switch {margin-top: 10px !important}
	#modal-formulario .div-2 .btn-enviar {padding: 10px 10px 11px 10px; font-size: 19px;}

	#modal-respuesta {width: 90%; height:auto; top: 10vh;}
	#modal-respuesta.sticky_respuesta {left: 5%;}
	#modal-respuesta .icon-close {top: 9px; right: 6px;}
	#modal-respuesta p.pasos { font-size: 19px; font-weight: 500; font-family: arial; padding-left: 102px; padding-bottom: 6px; line-height: 1.1;}
}


/**** MD ***(tablets, 768px and 991) */
@media (min-width: 768px) and (max-width: 991.98px) {
   	#seccion_principal .div-1 img.logo {width: 350px; height: auto; margin-top: 20px; margin-left: 10px; margin-bottom: 22px;}
   	#seccion_principal .div-2 img.relax2 {width: 54%; margin-top: 6px; margin-bottom: -2px;}
   	#seccion_principal .div-2 img.relax {width: 67%; margin: 0 auto 0 auto;}
	#seccion_principal .div-2 img.ahorra {width: 67%; margin-top: -2px; margin-left: 10px;}

   	#seccion_principal .div-2 {width: 100%; margin: 0 auto;}
   	#seccion_principal .div-2 ul.detalles {margin: 51px auto 54px auto;}
   	#seccion_principal .div-2 ul.detalles li {margin-right: 78px;}
	#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: -2px;}
	#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:28px; height: auto;}
	#seccion_principal .div-2 ul.detalles li .texto { font-size: 23px; height: 25px; line-height: 1;}
    #seccion_principal .div-2 h2 {font-size: 23px; margin-bottom: 20px;}

    #seccion_principal .div-2 .carrusel .cont_carru {width: 215; height: 300px;}
    #seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_1 {background: url('../../assets/images/productos/1m.jpg') no-repeat; background-position: top center !important;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_2 {background: url('../../assets/images/productos/2m.jpg') no-repeat; background-position: top center !important;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru.prod_3 {background: url('../../assets/images/productos/3m.jpg') no-repeat; background-position: top left !important;}
    #seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .span_abre_cuenta {padding: 7px 25px 9px 30px; font-size: 18px; bottom: 30px; }
    #seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover {padding: 12px 5px 11px 5px;}	
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos {width: 56% !important; margin: 0 auto 9px auto;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .logo-productos-combo {width: 85% !important; margin: 0 auto 9px auto;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul {padding-left: 23px;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {font-size: 14px; line-height: 15px; margin-bottom: 6px;}
	#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover .buttom-a {width: 90%; bottom: 14px; padding: 7px 0; margin:0 5%; font-size: 17px;}

	#modal-formulario .div-2 {width: 760px; margin: 0 auto;}
	#modal-formulario .div-2 .div-left {padding: 0 6px 0 0;}
	#modal-formulario .div-2 .div-left .div-columna {min-height: 590px; padding: 20px 20px 7px 20px;}
	#modal-formulario .div-2 .div-right {padding: 0 0 0 6px;}
	#modal-formulario .div-2 .div-right .div-columna {min-height: 590px; padding: 20px 20px 7px 20px;}
	#modal-formulario .div-2 .div-inputs input {padding: 4px 0 3px 0; font-size: 17px; }
	#modal-formulario .div-2 .div-inputs select {padding: 4px 0 1px 0; font-size: 15px;}
	#modal-formulario .div-2 .div-inputs select.fexp { padding: 4px 0 4px 0; font-size: 16px;}
	#modal-formulario .div-2 .div-inputs {padding: 16px 12px 15px 0px; position: relative;}
	#modal-formulario .div-2 .btn-enviar {padding: 12px 10px 13px 10px; font-size: 20px;}

	#modal-respuesta {width: 600px; height:auto; top: 10vh;}
	#modal-respuesta.sticky_respuesta {left: calc(50% - 300px);}
	#modal-respuesta .icon-close {top: 9px; right: 6px;}

			@media (min-height: 1px) and (max-height: 749.98px) {
				#modal-formulario .div-1 img.logo {width: 360px; margin-top: 27px; margin-left: 20px; margin-bottom: 15px;}
				#modal-formulario .div-2 .div-left img.logo-producto {width: 220px; height: auto; margin-bottom: 34px;}
				#modal-formulario .div-2 .div-inputs {padding: 12px 25px 11px 0px; position: relative;}
				#modal-formulario .div-2 .div-inputs input {padding: 4px 0 3px 0; font-size: 16px; }
				#modal-formulario .div-2 .div-inputs select {padding: 4px 0 1px 0; font-size: 14px;}
				#modal-formulario .div-2 .div-inputs select.fexp { padding: 4px 0 4px 0; font-size: 16px;}
				#modal-formulario .div-2 .flabel3 {font-size: 16px;}
				#modal-formulario .div-2 .flabel1 {font-size: 16px;}
				#modal-formulario .div-2 .flabel2 {font-size: 16px;}
				#modal-formulario .div-2 .div-inputs .lplace_holder_move {height: 54px; padding: 20px 0 10px 0; font-size: 16px;}
				#modal-formulario .div-2 .div-inputs .lplace_holder_move.active_l {font-size: 13; padding: 0;}				
				#modal-formulario .div-2 .div-left .div-columna {min-height: 575px; padding: 20px 40px 20px 44px;}
				#modal-formulario .div-2 .div-right .div-columna {min-height: 575px; padding: 20px 40px 20px 44px;}
			}
}


/**** LG ***(desktops, 992px and 1199) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	#seccion_principal .div-1 img.logo {width: 350px; height: auto; margin-top: 20px; margin-left: 10px; margin-bottom: 16px;}

	#seccion_principal .div-2 {width: 1000px; margin: 0 auto;}
	#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: 1px;}
	#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:30px; height: auto;}
	#seccion_principal .div-2 ul.detalles li .texto { font-size: 27px; height: 29px; line-height: 1;}    
    #seccion_principal .div-2 h2 {font-size: 24px; margin-bottom: 45px;}

    #seccion_principal .div-2 .carrusel .cont_carru {width: 280; height: 250px;}
    #seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .span_abre_cuenta {padding: 8px 25px 10px 30px; font-size: 18px; bottom: 30px; }

    #seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {line-height: 14px; margin-bottom: 6px;}

    #modal-formulario .div-2 {width: 990px; margin: 0 auto;}
    #modal-formulario .div-2 .div-inputs span.opcional {font-size: 14px;}

    #modal-respuesta {width: 600px; height:auto; top: 10vh;}
	#modal-respuesta.sticky_respuesta {left: calc(50% - 300px);}

    		@media (min-height: 1px) and (max-height: 749.98px) {
    			#seccion_principal .div-2 img.relax2 {width: 442px; margin-top: 6px; margin-bottom: -2px;}
  				#seccion_principal .div-2 img.relax {width: 442px; margin-top: -5px;}
  				#seccion_principal .div-2 img.ahorra {width: 447px; height: auto; margin-top: -2px; margin-left: 16px;}
  				#seccion_principal .div-2 h2 {font-size: 21px; margin-bottom: 14px;}
  				
				#seccion_principal .div-2 ul.detalles {margin: 30px auto 29px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: -1px;}
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:26px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 24px; height: 25px;}

				#seccion_principal .div-2 .carrusel .cont_carru {width: 280; height: 250px;}
    			#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .span_abre_cuenta {padding: 8px 25px 10px 30px; font-size: 18px; bottom: 30px; }
				#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {line-height: 14px; margin-bottom: 6px;}
				
				#modal-formulario .div-1 img.logo {width: 352px; margin-top: 22px; margin-left: 20px; margin-bottom: 13px;}
				#modal-formulario .div-2 .div-left img.logo-producto {width: 220px; height: auto; margin-bottom: 34px;}
				#modal-formulario .div-2 .div-inputs {padding: 14px 25px 13px 0px; position: relative;}
				#modal-formulario .div-2 .div-inputs input {padding: 4px 0 3px 0; font-size: 17px; }
				#modal-formulario .div-2 .div-inputs select {padding: 4px 0 1px 0; font-size: 15px;}
				#modal-formulario .div-2 .div-inputs select.fexp { padding: 4px 0 4px 0; font-size: 17px;}
				#modal-formulario .div-2 .div-inputs .lplace_holder_move {height: 54px; padding: 20px 0 10px 0; font-size: 17px;}
				#modal-formulario .div-2 .div-inputs .lplace_holder_move.active_l {font-size: 13; padding: 0;}				
				#modal-formulario .div-2 .div-left .div-columna {min-height: 575px; padding: 20px 40px 20px 44px;}
				#modal-formulario .div-2 .div-right .div-columna {min-height: 575px; padding: 20px 40px 20px 44px;}
			}

  			@media (min-height: 750px) and (max-height: 821px) {
  				#seccion_principal .div-2 img.relax2 {width: 500px; margin-top: 5px; margin-bottom: -2px;}
  				#seccion_principal .div-2 img.relax {width: 512px; margin-top: -5px; }
  				#seccion_principal .div-2 img.ahorra {width: 517px; height: auto; margin-top: -2px; margin-left: 16px;}
  				#seccion_principal .div-2 h2 {font-size: 24px; margin-bottom: 18px;}

				#seccion_principal .div-2 ul.detalles {margin: 36px auto 39px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: 0px;}
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:29px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 28px; height: 29px;}

				#modal-formulario .div-1 img.logo {width: 352px; margin-top: 22px; margin-left: 20px; margin-bottom: 13px;}
				#modal-formulario .div-2 .div-left img.logo-producto {width: 240px; height: auto; margin-bottom: 54px;}
			}
}


/**** XL ***(large desktops, 1200px and 1599) */
@media (min-width: 1200px) and (max-width: 1599.98px){
  #seccion_principal .div-1 img.logo {width: 380px; height: auto; margin-top: 20px; margin-left: 10px; margin-bottom: 5px;}
  			
  			@media (min-height: 1px) and (max-height: 749.98px) {
  				#seccion_principal .div-2 img.relax2 {width: 442px; margin-top: 6px; margin-bottom: -2px;}
  				#seccion_principal .div-2 img.relax {width: 442px; margin-top: -5px;}
  				#seccion_principal .div-2 img.ahorra {width: 447px; height: auto; margin-top: -2px; margin-left: 16px;}
  				#seccion_principal .div-2 h2 {font-size: 21px; margin-bottom: 14px;}
  				
				#seccion_principal .div-2 ul.detalles {margin: 30px auto 29px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: -2px;}
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:26px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 24px; height: 25px;}

				#seccion_principal .div-2 .carrusel .cont_carru {width: 280; height: 250px;}
    			#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .span_abre_cuenta {padding: 8px 25px 10px 30px; font-size: 18px; bottom: 30px; }
				#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {line-height: 14px; margin-bottom: 6px;}
				
				#modal-formulario .div-1 img.logo {width: 352px; margin-top: 22px; margin-left: 20px; margin-bottom: 13px;}
				#modal-formulario .div-2 .div-left img.logo-producto {width: 220px; height: auto; margin-bottom: 34px;}
				#modal-formulario .div-2 .div-inputs {padding: 14px 25px 13px 0px; position: relative;}
				#modal-formulario .div-2 .div-inputs input {padding: 4px 0 3px 0; font-size: 17px; }
				#modal-formulario .div-2 .div-inputs select {padding: 4px 0 1px 0; font-size: 15px;}
				#modal-formulario .div-2 .div-inputs select.fexp { padding: 4px 0 4px 0; font-size: 17px;}
				#modal-formulario .div-2 .div-inputs .lplace_holder_move {height: 54px; padding: 20px 0 10px 0; font-size: 17px;}
				#modal-formulario .div-2 .div-inputs .lplace_holder_move.active_l {font-size: 13; padding: 0;}				
				#modal-formulario .div-2 .div-left .div-columna {min-height: 575px; padding: 20px 40px 20px 44px;}
				#modal-formulario .div-2 .div-right .div-columna {min-height: 575px; padding: 20px 40px 20px 44px;}
			}

  			@media (min-height: 750px) and (max-height: 821px) {
  				#seccion_principal .div-2 img.relax2 {width: 500px; margin-top: 5px; margin-bottom: -2px;}
  				#seccion_principal .div-2 img.relax {width: 512px; margin-top: -5px;}
  				#seccion_principal .div-2 img.ahorra {width: 517px; height: auto; margin-top: -2px; margin-left: 16px;}
  				#seccion_principal .div-2 h2 {font-size: 24px; margin-bottom: 18px;}

				#seccion_principal .div-2 ul.detalles {margin: 36px auto 39px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: 1px;}
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:30px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 28px; height: 29px;}

				#modal-formulario .div-1 img.logo {width: 352px; margin-top: 22px; margin-left: 20px; margin-bottom: 13px;}
				#modal-formulario .div-2 .div-left img.logo-producto {width: 240px; height: auto; margin-bottom: 54px;}
			}
}


/**** XXL ***(large desktops, 1600px and up) */
@media (min-width: 1600px) {
  			@media (min-height: 1px) and (max-height: 749.98px) {
  				#seccion_principal .div-2 img.relax2 {width: 442px; margin-top: 6px; margin-bottom: -2px;}
  				#seccion_principal .div-2 img.relax {width: 442px; margin-top: -5px;}
  				#seccion_principal .div-2 img.ahorra {width: 447px; height: auto; margin-top: -2px; margin-left: 16px;}
  				#seccion_principal .div-2 h2 {font-size: 21px; margin-bottom: 14px;}
  				
				#seccion_principal .div-2 ul.detalles {margin: 30px auto 29px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: -2px;}
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:26px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 24px; height: 25px;}

				#seccion_principal .div-2 .carrusel .cont_carru {width: 280; height: 250px;}
    			#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .span_abre_cuenta {padding: 8px 25px 10px 30px; font-size: 18px; bottom: 30px; }
				#seccion_principal .div-2 .carrusel .cont_carru .anchor_cont_carru .div-hover ul li {line-height: 14px; margin-bottom: 6px;}
			}

  			@media (min-height: 750px) and (max-height: 821px) {
  				#seccion_principal .div-2 img.relax2 {width: 500px; margin-top: 5px; margin-bottom: -2px;}
  				#seccion_principal .div-2 img.relax {width: 512px; margin-top: -5px;}
  				#seccion_principal .div-2 img.ahorra {width: 517px; height: auto; margin-top: -2px; margin-left: 16px;}
  				#seccion_principal .div-2 h2 {font-size: 24px; margin-bottom: 18px;}

				#seccion_principal .div-2 ul.detalles {margin: 36px auto 39px auto; padding-left: 0px;}
				#seccion_principal .div-2 ul.detalles li .punto {margin-right: 8px; margin-top: 1px;}
				#seccion_principal .div-2 ul.detalles li .punto .icon-flechas {width:30px; height: auto;}
				#seccion_principal .div-2 ul.detalles li .texto {font-size: 28px; height: 29px;}
			}

}

/**hueawey 1200x500 o 1024x488 */