<main role="main" (window:resize)="resize()">
    <div id="seccion_principal" class="container-fluid" style="padding: 0;">
            <div class="div-1 col-12">
                <img class="logo" src="assets/images/logo_ganadero_2.png" alt="Logo Banco Ganadero">
            </div>
            <div class="div-2">
                    <div class="row no-gutters"> <!-- wow fadeInUp fast" data-wow-offset="-80" data-wow-delay="700ms" -->
                            <div class="col-sm-12" style="text-align: center;">
                                    <img class="relax2 wow animated fadeIn slower" data-wow-offset="0" data-wow-delay="0ms" src="assets/images/relax_2.png" alt="abre tu cuenta en 5 min">
                                    
                                    <img class="relax wow animated fadeIn slower d-none" data-wow-offset="0" data-wow-delay="0ms" src="assets/images/relax.png" alt="relax">
                                    <img class="ahorra wow animated fadeIn slow d-none" data-wow-offset="0" data-wow-delay="0ms" src="assets/images/ahorra_al_maximo.png" alt="Ahorra al maximo">
                            </div>
                            <div class="col-sm-12 d-flex align-items-center">
                                    <ul class="detalles">
                                        <li class="wow animated fadeInLeft" data-wow-offset="0" data-wow-delay="0ms">
                                            <span class="punto">
                                                <img class="icon-flechas" src="assets/images/fast-forward.png" alt="icon">
                                            </span>
                                            <span class="texto">Gratis</span>
                                        </li>
                                        <li class="wow animated fadeInLeft" data-wow-offset="0" data-wow-delay="100ms">
                                            <span class="punto">
                                                <img class="icon-flechas" src="assets/images/fast-forward.png" alt="icon">
                                            </span>
                                            <span class="texto">Sin hacer colas</span>
                                        </li>
                                        <li class="wow animated fadeInLeft" data-wow-offset="0" data-wow-delay="200ms">
                                            <span class="punto">
                                                <img class="icon-flechas" src="assets/images/fast-forward.png" alt="icon">
                                            </span>
                                            <span class="texto">En tan sólo 1 minuto</span>
                                        </li>
                                    </ul>                                            
                            </div>
                            <div class="col-12" style="text-align: center; padding: 0;">
                                    <h2>Elige el producto de tu conveniencia:</h2>
                            </div>
                            <div class="col-sm-12 wrap-carru" style="padding-bottom: .5rem; text-align: center;">                                                                                
                                    
                                    <owl-carousel-o [options]="customOptions" class="carrusel">
                                                <ng-template carouselSlide>
                                                        <div class="cont_carru item wow animated pulse efecto1" (click)="toggleClassProductos($event)" (mouseenter)="toggleClassProductos($event)" (mouseleave)="quitarClaseActiva($event)">
                                                                <div class="anchor_cont_carru prod_1">
                                                                    <span class="span_abre_cuenta wow animated fadeIn fadeIn1" data-wow-offset="0" data-wow-delay="1000ms">Ver más</span>
                                                                    <div class="div-hover" (click)="quitarClaseActiva($event)">
                                                                            <img class="logo-productos logo-productos-combo" style="width: 80%; height: auto;" src="assets/images/productos/combo_gana_doble_gana_mas.png" alt="Combo Gana-doble/Gana-mas">
                                                                            <ul>
                                                                                <li>No requiere monto mínimo de apertura.</li>
                                                                                <li>Tasa de interés: 2% hasta Bs. 70.000 (mensual)</li>
                                                                                <li>Retiros ilimitados y sin costo</li>
                                                                                <li>Canales de autoservicio (GanaMóvil/GanaNet).</li>
                                                                            </ul>
                                                                            <div class="buttom-a" (click)="mostrarForm(1, 1)" onclick="ga('send', 'event', 'productos', 'click', 'producto', 1);">Abrir Cuenta</div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                </ng-template>
                                                <ng-template carouselSlide>
                                                        <div class="cont_carru item wow animated pulse efecto2" (click)="toggleClassProductos($event)" (mouseenter)="toggleClassProductos($event)" (mouseleave)="quitarClaseActiva($event)">
                                                                <div class="anchor_cont_carru prod_2">
                                                                    <span class="span_abre_cuenta wow animated fadeIn fadeIn2" data-wow-offset="0" data-wow-delay="1080ms">Ver más</span>
                                                                    <div class="div-hover" (click)="quitarClaseActiva($event)">
                                                                            <img class="d-block logo-productos logo-productos-gana-mas" style="width: 40%; height: auto;"  src="assets/images/productos/gana_mas.png" alt="Gana-mas">
                                                                            <ul>
                                                                                <li>No requiere monto mínimo de apertura.</li>
                                                                                <li>Tasa de interés (anual):  2% de Bs. 0 a 70.000, 3.5% de Bs. 70.001 en adelante </li>
                                                                                <li>Las tasas se aplican al no exceder los 4 retiros/mes.</li>
                                                                                <li>Canales de autoservicio (GanaMóvil/Gananet).</li>
                                                                            </ul>
                                                                            <div class="buttom-a" (click)="mostrarForm(2, 1)">Abrir Cuenta</div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                </ng-template>
                                                
                                                <ng-template carouselSlide>
                                                        <div class="cont_carru item wow animated pulse efecto3" (click)="toggleClassProductos($event)" (mouseenter)="toggleClassProductos($event)" (mouseleave)="quitarClaseActiva($event)">
                                                                <div class="anchor_cont_carru prod_3">
                                                                    <span class="span_abre_cuenta wow animated fadeIn fadeIn3" data-wow-offset="0" data-wow-delay="1160ms">Ver más</span>
                                                                    <div class="div-hover" (click)="quitarClaseActiva($event)">
                                                                            <img class="d-block logo-productos logo-productos-gana-doble" style="width: 47%; height: auto;"  src="assets/images/productos/gana_doble.png" alt="Gana-doble">
                                                                            <ul>
                                                                                <li>No requiere monto mínimo de apertura.</li>
                                                                                <li>Tasa de interés: 2% hasta Bs. 70.000 (mensual)</li>
                                                                                <li>Retiros ilimitados y sin costo</li>
                                                                                <li>Canales de autoservicio (GanaMóvil/GanaNet).</li>
                                                                            </ul>
                                                                            <div class="buttom-a" (click)="mostrarForm(3, 0)">Abrir Cuenta</div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                </ng-template>
                                                                                                                                                                   
                                    </owl-carousel-o>
                            </div>
                    </div>
            </div>
       </div>

       <div id="modal-formulario">
                <div class="div-1 col-12">
                        <img class="logo" src="assets/images/logo_ganadero_2.png" alt="Logo Banco Ganadero">
                </div>
                <div class="div-2">
                        <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                                <div class="row no-gutters">
                                <div class="col-12 col-md-6 div-left">
                                        <div class="col-12 div-columna">
                                                <div class="row no-gutters">
                                                        <div class="col-12">
                                                                <img *ngIf="imagenProducto === 1" class="logo-producto" src="assets/images/productos/combo_gana_doble_gana_mas_big.png" alt="logo producto" >
                                                                <img *ngIf="imagenProducto === 2" class="logo-producto" src="assets/images/productos/gana_mas_big.png" alt="logo producto" >
                                                                <img *ngIf="imagenProducto === 3" class="logo-producto" src="assets/images/productos/gana_doble_big.png" alt="logo producto" >
                                                        </div>

                                                        <div class="col-7 div-inputs">
                                                                <label class="lplace_holder_move" for="fdocumento">N° de Documento</label>
                                                                <input type="text" id="fdocumento" formControlName="fdocumento" name="fdocumento" class="inputclass_animated" [ngClass]="{ 'is-invalid': submitted && f.fdocumento.errors }">
                                                                <!-- Mensaje de Error Angular -->
                                                                <div *ngIf="submitted && f.fdocumento.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.fdocumento.errors.required">Nº de Documento es requerido</div>
                                                                </div>
                                                        </div>
                                                        <div class="col-5 div-inputs">                                                                
                                                                <select id="fexp" formControlName="fexp" name="fexp" class="fexp" placeholder="Seleccione" [ngClass]="{ 'is-invalid': submitted && f.fexp.errors }">
                                                                        <option value="">Expedición</option>
                                                                        <option *ngFor="let exp of arrayExpedicion" [value]="exp.value">{{exp.label}}</option>
                                                                </select>
                                                                <!-- Mensaje de Error Angular -->
                                                                <div *ngIf="submitted && f.fexp.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.fexp.errors.required">Seleccione una Expedición</div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12" style="padding: 0;">
                                                                <div class="row no-gutters">
                                                                        <div class="col-12 col-lg-6 col-xl-6 div-inputs">
                                                                                <label class="lplace_holder_move" for="fcomplemento">Complemento <span class="opcional">(Opcional)</span></label>
                                                                                <input type="text" id="fcomplemento" formControlName="fcomplemento" name="fcomplemento" class="inputclass_animated">
                                                                        </div>
                                                                        <div class="col-12 col-lg-6 col-xl-6 div-inputs">
                                                                                <label class="lplace_holder_move" for="ftelefono">Número Telefónico</label>
                                                                                <input type="text" id="ftelefono" formControlName="ftelefono" name="ftelefono" class="inputclass_animated" [ngClass]="{ 'is-invalid': submitted && f.ftelefono.errors }">
                                                                                <!-- Mensaje de Error Angular -->
                                                                                <div *ngIf="submitted && f.ftelefono.errors" class="invalid-feedback">
                                                                                        <div *ngIf="f.ftelefono.errors.required">Ingrese su número telefónico</div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12">
                                                                <div class="row no-gutters">
                                                                        <div class="col-12" style="padding: 0">
                                                                            <label class="lfecha_nac" for="fdia-nac">Fecha de Nacimiento</label>
                                                                        </div>
                                                                        <div class="col-4 col-sm-3 col-md-4 col-lg-3 col-xl-2 div-inputs pt-2">
                                                                                <select id="fdia-nac" formControlName="fdiaNac" name="fdia-nac" [ngClass]="{ 'is-invalid': submitted && f.fdiaNac.errors }">
                                                                                        <option value="">Dia</option>
                                                                                        <option *ngFor="let dia of arrayDias" [value]="dia">{{dia}}</option>
                                                                                </select>
                                                                                <!-- Mensaje de Error Angular para Dia de Nacimiento -->
                                                                                <div *ngIf="submitted && f.fdiaNac.errors" class="invalid-feedback">
                                                                                        <div *ngIf="f.fdiaNac.errors.required">Seleccione un Día</div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-4 col-sm-3 col-md-4 col-lg-3 col-xl-2 div-inputs pt-2">
                                                                                <select id="fdia-mes" formControlName="fmesNac" name="fmes-nac" [ngClass]="{ 'is-invalid': submitted && f.fmesNac.errors }">
                                                                                        <option value="">Mes</option>
                                                                                        <option *ngFor="let mes of arrayMes" [value]="mes < 10 ? '0' + mes : mes">{{mes < 10 ? '0' + mes : mes}}</option>                                                                                
                                                                                </select>
                                                                                <!-- Mensaje de Error Angular para Mes de Nacimiento -->
                                                                                <div *ngIf="submitted && f.fmesNac.errors" class="invalid-feedback">
                                                                                        <div *ngIf="f.fmesNac.errors.required">Seleccione un Mes</div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-4 col-sm-3 col-md-4 col-lg-3 col-xl-2 div-inputs pt-2">
                                                                                <select id="fanio-nac" formControlName="fanioNac" name="fanio-nac" [ngClass]="{ 'is-invalid': submitted && f.fanioNac.errors }">
                                                                                        <option value="">Año</option>
                                                                                        <option *ngFor="let anio of arrayAnio" [value]="anio">{{anio}}</option>
                                                                                </select>
                                                                                <!-- Mensaje de Error Angular para Año de Nacimiento -->
                                                                                <div *ngIf="submitted && f.fanioNac.errors" class="invalid-feedback">
                                                                                        <div *ngIf="f.fanioNac.errors.required">Seleccione un Año</div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        
                                                        <div class="col-12 div-inputs">
                                                                <label class="flabel1" for="fciudadano">¿Eres Ciudadano Americano?</label>
                                                                <label class="switch" style="margin: 15px 0 0 35px">
                                                                        <input type="checkbox" formControlName="fciudadano" name="fciudadano">
                                                                        <span class="slider round"></span>
                                                                </label>
                                                        </div>

                                                        <div class="col-12" style="padding: 0;">
                                                                <div class="row no-gutters">
                                                                        <div class="col-3 col-sm-2 col-md-4 col-lg-3 div-inputs pt-1">
                                                                                <label class="flabel2" for="masculino">Masculino</label><br>
                                                                                <input class="pr-2" type="radio" id="masculino" formControlName="fgenero" name="fgenero" value="Masculino" checked>
                                                                        </div>
                                                                        <div class="col-3 col-sm-2 col-md-4 col-lg-3 div-inputs pt-1">
                                                                                <label class="flabel2" for="femenino">Femenino</label><br>
                                                                                <input class="pr-2" type="radio" id="femenino" formControlName="fgenero" name="fgenero" value="Femenino">
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 div-inputs pt-0 pb-0 pr-0">
                                                                <label class="flabel3" for="fterminos">Autorización: <span>Acepto la verificación de <br>los datos de indentidad (SEGIP). 
                                                                    <span class="leer-mas" (click)="mostrarModalSegip()">Ver más</span></span>
                                                                </label>
                                                                <label class="switch" style="margin: 17px 0 0 28px">
                                                                        <input type="checkbox" formControlName="fterminos" name="fterminos" [ngClass]="{ 'is-invalid': submitted && f.fterminos.errors }">
                                                                        <span class="slider round"></span>
                                                                        <!-- Mensaje de Error Angular -->
                                                                        <div *ngIf="submitted && f.fterminos.errors" class="invalid-feedback">
                                                                                <div *ngIf="f.fterminos.errors.required">Debe aceptar la verificación</div>
                                                                        </div>
                                                                </label>
                                                                
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12 col-md-6 div-right">
                                        <div class="col-12 div-columna">
                                                <div class="row no-gutters">
                                                        <div class="col-12 pt-2" style="padding: 0;">
                                                                <div class="col-9 col-md-8 div-inputs">
                                                                        <label class="lplace_holder_move" for="fingreso">Ingreso Mensual (Bs)</label>
                                                                        <input type="text" id="fingreso" formControlName="fingreso" name="fingreso" class="inputclass_animated" [ngClass]="{ 'is-invalid': submitted && f.fingreso.errors }">                                                                        
                                                                        <!-- Mensaje de Error Angular -->
                                                                        <div *ngIf="submitted && f.fingreso.errors" class="invalid-feedback">
                                                                                <div *ngIf="f.fingreso.errors.required">Ingreso Mensual es obligatorio</div>
                                                                        </div>
                                                                </div>                                                                
                                                        </div>

                                                        <div class="col-12" style="padding: 0;">
                                                                <div class="col-9 col-md-8 div-inputs">
                                                                        <label class="lplace_holder_move" for="fnit">NIT <span class="opcional">(Opcional)</span></label>
                                                                        <input type="text" id="fnit" formControlName="fnit" name="fnit" class="inputclass_animated">
                                                                </div>
                                                        </div>

                                                        <div class="col-12" style="padding: 0;">
                                                                <div class="col-9 col-md-8 div-inputs">
                                                                        <label class="lplace_holder_move" for="femail">Email</label>
                                                                        <input type="text" id="femail" formControlName="femail" name="femail" class="inputclass_animated" [ngClass]="{ 'is-invalid': submitted && f.femail.errors }">
                                                                        <!-- Mensaje de Error Angular -->
                                                                        <div *ngIf="submitted && f.femail.errors" class="invalid-feedback">
                                                                                <div *ngIf="f.femail.errors">No es un email valido</div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12" style="padding: 0;">
                                                                <div class="row no-gutters">
                                                                        <div class="col-12" style="padding: 0">
                                                                            <label class="lfecha_nac" for="fdia-nac">Tipo de Moneda de la cuenta</label>
                                                                        </div>
                                                                        <div class="col-4 col-lg-4 col-xl-3 div-inputs pt-2">
                                                                                <select id="fmoneda-cuenta" formControlName="fmonedaCuenta" name="fmoneda-cuenta" [ngClass]="{ 'is-invalid': submitted && f.fmonedaCuenta.errors }">
                                                                                        <option value="">Moneda</option>
                                                                                        <option *ngFor="let moneda of arrayMoneda" [value]="moneda.value">{{moneda.label}}</option>                                                                                
                                                                                </select>
                                                                                <!-- Mensaje de Error Angular -->
                                                                                <div *ngIf="submitted && f.fmonedaCuenta.errors" class="invalid-feedback">
                                                                                        <div *ngIf="f.fmonedaCuenta.errors">Seleccione una Moneda</div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 div-inputs pt-2">
                                                                <label class="flabel3 pr-3 mb-1" for="fseguro">Seguro de tarjeta <span>(Altamente <br>Recomendado). <span class="leer-mas" (click)="mostrarModalSeguro()">Ver más</span></span></label>
                                                                <label class="switch pt-2" style="margin: 11px 0 0 19px">
                                                                        <input type="checkbox" formControlName="fseguro" name="fseguro">
                                                                        <span class="slider round"></span>
                                                                </label>
                                                        </div>

                                                        <div class="col-12" style="padding: 0;">
                                                                <div class="row no-gutters">
                                                                        <div class="col-12" style="padding: 0">
                                                                            <label class="flabel3" for="fsucursal">Selecciona la agencia para finalizar<br> la apertura de cuenta</label>
                                                                        </div>
                                                                        <div class="col-12 col-lg-6 col-xl-6 div-inputs pt-1 mb-0 mb-lg-3">
                                                                                <select id="fsucursal" class="fsucursal" formControlName="fsucursal" name="fsucursal" (change)="mostrarDireccion($event)" [ngClass]="{ 'is-invalid': submitted && f.fsucursal.errors }">
                                                                                    <option value="">Sucursales</option>
                                                                                    <option value="blacutt">SC - Agencia Blacutt</option>
                                                                                    <option value="norte">SC - Agencia Norte</option>
                                                                                </select>
                                                                                 <!-- Mensaje de Error Angular -->
                                                                                <div *ngIf="submitted && f.fsucursal.errors" class="invalid-feedback">
                                                                                        <div *ngIf="f.fsucursal.errors">Seleccione una sucursal</div>
                                                                                </div>
                                                                        </div>

                                                                        <div class="col-12 col-lg-6 col-xl-6 div-inputs direcciones-fsucursal pt-2 mb-3 mb-lg-3">
                                                                            
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 pt-1">
                                                                <input class="btn-enviar" type="submit" value="Enviar">
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                                </div>
                        </form>
                </div>
                <span class="icon-close" (click)="ocultarForm()" >
                        <img src="assets/images/icon_close.png" alt="Cerrar Formulario">
                </span>
        </div>

        <div id="transparencia-modal-respuesta"></div>
        <div id="modal-respuesta">
                <div class="div-1 col-12 text-center py-2" style="background-color: #0b5018;">
                    <img class="logo" src="assets/images/logo_ganadero_2.png" alt="Logo Banco Ganadero" width="250" height="auto">
                </div>
                <div class="col-12 text-center mt-4">
                    <p class="mb-3" style="font-size: 18px; font-weight: 600; color: #0b5018; line-height: 1.2;">Te hemos envíado un mensaje a tu correo registrado. </p>
                </div>
                <div class="div-1 col-12 text-center px-4 px-sm-5 pt-4" style="background-color: #e8e8e8;">
                    <div class="row no-gutters">
                            <div class="col-12 text-center" style="padding-bottom: 23px;">
                                <img class="logo" src="assets/images/pasos.png" width="60%" height="auto" alt="Pasos a seguir">
                            </div>
                            <div class="div-pasos col-12 pt-2 pt-sm-3 text-left" style="background: url('assets/images/paso1.png') no-repeat left top; background-size: 100% auto; height: 98px;">
                                <p class="pasos mt-1 mt-sm-0">
                                    Dirígete a nuestra agencia {{this.f.fsucursal.value === 'norte' ? 'Norte - Av. Cristo Redentor.' : 'Blacutt - Av. Velarde.'}}
                                </p>
                            </div>
                            <div class="div-pasos col-12 mt-3 pt-2 pt-sm-3 text-left" style="background: url('assets/images/paso2.png') no-repeat left top; background-size: 100% auto; height: 98px;">
                                <p class="pasos mt-1 mt-sm-0">
                                    Aproximate a nuestra azafata o <br>localiza a nuestro <span style="color: #a4bd32;">Kiosco MÁXIMO</span>
                                </p>
                            </div>
                            <div class="col-12 mt-3 pt-3">
                                <img src="assets/images/kiosco.png" width="100%" height="auto" alt="kiosco">
                            </div>
                    </div>
                </div>
                <span class="icon-close" (click)="cerrarModalRespuesta()">
                        <img src="assets/images/icon_close.png" alt="Cerrar Formulario">
                </span>                    
        </div>

        <div id="modal-seguro">
                <div class="div-1 col-12 text-center py-2" style="background-color: #0b5018;">
                        <h4 class="text-center pr-2">Seguro de tarjeta</h4>
                </div>
                <div class="div-1 col-12 py-2 px-4 my-1">
                    <ul class="pt-2">
                        <li><span style="font-weight: 600;">Protección Contra</span></li>
                        <li>- Clonación</li>
                        <li>- Asalto / Robo</li>
                        <li>- Compras por Internet</li>
                    </ul>
                </div>
                <span class="icon-close" (click)="cerrarModalSeguro()">
                        <img src="assets/images/icon_close.png" alt="Cerrar">
                </span>
        </div>

        <div id="modal-segip" (clickOutside)="onClickedOutside($event)">
                <div class="div-1 col-12 text-center py-2" style="background-color: #0b5018;">
                        <h4 class="text-center pr-2">Autorización</h4>
                </div>
                <div class="div-1 col-12 py-2 px-4 my-1">
                    <p>Manifiesto que los datos proporcionados en la presente solicitud son veraces y fehacientes.<br> Asi mismo, otorgo mi consentimiento para la verificación de los datos de indentidad (SEGIP).</p>
                </div>
                <span class="icon-close" (click)="cerrarModalSegip()">
                        <img src="assets/images/icon_close.png" alt="Cerrar">
                </span>
        </div>
</main>
