/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; margin: 0;}

main {min-height: 600px; background-color: #ffffff; overflow: hidden;}

.efecto1 {
    animation-delay: 0ms;
}

.efecto2 {
    animation-delay: 300ms !important;
}

.efecto3 {
    animation-delay: 600ms !important;
}

.fadeIn1 {
    animation-delay: 1000ms;
}

.fadeIn2 {
    animation-delay: 1080ms;
}

.fadeIn3 {
    animation-delay: 1160ms;
}

.swiper-wrapper {
    box-sizing: border-box;
  }